# You can place your MongoDB Atlas connection string here
# E.g. MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/premium_attendance?retryWrites=true&w=majority
MONGO_URI=mongodb://localhost:27017/premium_attendance
JWT_SECRET=super-secret-premium-key-change-me-in-prod
